.Order{
  width: 100%;
  border: 4px solid black;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
  box-shadow: 8px 8px 3px black;
}
.Span{
  border: 4px solid black;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 2px solid black;
  padding: 10px;
}
.Order:hover{
  transform: scale(1.05);
  cursor: pointer;
}
@media(max-width: 1156px){
  .Order{
    width: 100%;
    border: 4px solid black;
    padding: 10px;
    margin: 15px auto;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    box-shadow: 8px 8px 3px black;
    transform: scale(0.9)
  }
  .Span{
    border: 4px solid black;
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 2px solid black;
    padding: 10px;
    transform: scale(0.9)
  }
}
@media(max-width: 1000px){
  .Order{
    width: 100%;
    border: 4px solid black;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    box-shadow: 8px 8px 3px black;
    transform: scale(0.8)
  }
  .Span{
    border: 4px solid black;
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 2px solid black;
    padding: 10px;
    transform: scale(0.8)
  }
  .Order:hover{
    transform: scale(1.025)
  }
}