/*@media (min-width: 200px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -424px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -75%;
    top: 620px;
    transform: scale(0.5)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 250px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -424px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -50%;
    top: 620px;
    transform: scale(0.5)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 300px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -328px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -33%;
    top: 620px;
    transform: scale(0.6)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 350px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -240px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -20%;
    top: 620px;
    transform: scale(0.70)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 375px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -240px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -19%;
    top: 620px;
    transform: scale(0.70)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 400px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -196px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -12%;
    top: 620px;
    transform: scale(0.75)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 450px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -128px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: -5%;
    top: 620px;
    transform: scale(0.85)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 500px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -128px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 0%;
    top: 620px;
    transform: scale(0.85)
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 550px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -96px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 4%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 600px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 9%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 650px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 13%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 700px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -96px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 15%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}
@media (min-width: 750px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 15%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px 
  }
}
@media (min-width: 800px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 17%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px 
  }
}
@media (min-width: 850px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 21%;
    top: 620px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px 
  }
}
@media (min-width: 900px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -48px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 24%;
    top: 630px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px 
  }
}
@media (min-width: 950px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -80px;
    margin-bottom: 16px;
    padding: 0px 0;
    position: absolute;
    left: 24%;
    top: 650px;
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px 
  }
}

@media (min-width: 1024px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 16px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 12px;
    top: 0;
    transform: scale(0.75);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -10px;
  padding: 0 10px 0 10px;
  font-size: 16px 
  }
}

@media (min-width: 1155px) {
  .BuildControls {
    width: 500px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 64px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 12px;
    top: 0;
    transform: scale(0.85);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -10px;
  padding: 0 10px 0 10px;
  font-size: 16px 
  }
}

@media (min-width: 1279px) {
  .BuildControls {
    width: 600px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 12px;
    top: 0;
    transform: scale(0.85);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -10px;
  padding: 0 10px 0 10px;
  font-size: 16px 
  }
}
@media (min-width: 1365px){
  .BuildControls {
    width: 600px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 24px;
    top: 64px;
    transform: scale(1.05);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -10px;
  padding: 0 10px 0 10px;
  font-size: 18px 
  }
}

@media (min-width: 1600px) {
  .BuildControls {
    width: 650px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 128px;
    top: 64px;
    transform: scale(1.025);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px;
  }
}

@media (min-width: 1750px) {
  .BuildControls {
    width: 650px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 140px;
    top: 64px;
    transform: scale(1.025);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 20px;
  }
}*/

@media (max-width: 2600px) {
  .BuildControls {
    width: 750px;
    background-color: transperent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 8rem;
    top: 5rem;
    transform: scale(1.15);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 1700px) {
  .BuildControls {
    width: 750px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 2rem;
    top: 4rem;
    transform: scale(1.05);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 1400px) {
  .BuildControls {
    width: 750px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 0rem;
    top: 0rem;
    transform: scale(0.9);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .BuildControls {
    width: 750px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: -4rem;
    top: -2.5rem;
    transform: scale(0.75);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 950px) {
  .BuildControls {
    width: 750px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: -9rem;
    top: -4rem;
    transform: scale(0.6);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 750px) {
  .BuildControls {
    width: 750px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: -10rem;
    top: -6rem;
    transform: scale(0.55);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 650px) {
  .BuildControls {
    width: 530px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 3rem;
    top: 22em;
    transform: scale(0.8);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}
@media (max-width: 600px) {
  .BuildControls {
    width: 530px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 0px 0;
    border: none;
    position: absolute;
    left: 2rem;
    top: 22em;
    transform: scale(0.8);
  }

  .Tittle{
  background-color: transperent;
  position: absolute;
  top: -14px;
  padding: 0 10px 0 10px;
  font-size: 24px;
  }
}




.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background-color: transparent;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 10px;
  margin: 0 5px 0 20px;
  width: 100px;
  border: hidden;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ccc;
  border: hidden;
  color: #888888;
  cursor: default;
  box-shadow: inset 6px -6px #888888;
}

.BuildControl button:hover:disabled {
  color: #888888;
  cursor: not-allowed;
  box-shadow: inset 6px -6px #888888;
  transform: scale(1);
  background-color: #ccc;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  margin: 0 50px 0 0px;
}

.BuildControl .Less {  
  background-color: #f05c5c;
  color: white;
  box-shadow: inset 6px -6px  #a33d3d;
}

.BuildControl .More {
  background-color: #35a5f0;
  color: white;
  box-shadow: inset 6px -6px  #0062a3;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
  background-color: #e94848;
  color: white;
  box-shadow: inset 3px -3px #a33d3d;
  transform: scale(0.95);
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: #2392db;
  color: white;
  box-shadow: inset 3px -3px #0062a3;
  transform: scale(0.95);
}


.OrderButton {
  background-color: #84c929;
  outline: none;
  cursor: pointer;
  border: hidden;
  color: white;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: inset 6px -6px #65a017;
  margin: 16px 0 10px 0;
}

.OrderButton:hover, .OrderButton:active {
  background-color: #79bd21;
  color: white;
  box-shadow: inset 3px -3px #65a017;
  transform: scale(0.97);
}

.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
  box-shadow: inset 6px -6px #888888;
  transform: scale(1);
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}