.Toolbar{
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  border: 4px solid black;
}

/* this helps us adjust the size of nav items even if they are bigger than toolbar
.Toolbar nav{
  height: 100%;
}*/

.Logo{
  height: 40%;
}
@media(min-width: 350px){
  .Logo{
    height: 60%;
  }
}
@media(min-width: 600px){
  .Logo{
    height: 80%;
  }
}

@media (max-width: 651px) {
  .DesktopOnly {
    display: none;
  }
}