.SideDrawer{
  position: fixed;
  width: 64px;
  max-width: 70%;
  height: 324px;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 0px 8px;
  box-sizing: border-box;
  transition: transform 0.3 ease-out;
}

@media (min-width: 651px) {
  .SideDrawer {
    display: none;
  }
}

.Open{
  transform: translateX(0);
}

.Close{
  transform: translateX(-200%);
}

.Logo{
  height: 2%;
  margin-bottom: 32px; 
}