@media (max-width: 2600px) {
  .ContactData {
    margin: 15% 0% 0% 6%;
    width: 30rem;
    text-align: center;
    position: absolute;
    top: -2rem;
    left: 6rem;
  }
}
@media (max-width: 1700px) {
  .ContactData {
    margin: 15% 0% 0% 6%;
    width: 30rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 1rem;
    transform: scale(0.9);
  }
}
@media (max-width: 1400px) {
  .ContactData {
    margin: 15% 0% 0% 6%;
    width: 30rem;
    text-align: center;
    position: absolute;
    top: -2rem;
    left: 0rem;
    transform: scale(0.8);
  }
}
@media (max-width: 1200px) {
  .ContactData {
    margin: 15% 0% 0% 6%;
    width: 30rem;
    text-align: center;
    position: absolute;
    top: -2rem;
    left: -4.5rem;
    transform: scale(0.7);
  }
}