.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background-color: white;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 10px;
  margin: 0 5px 0 20px;
  width: 100px;
  border: hidden;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ccc;
  border: hidden;
  color: #888888;
  cursor: default;
  box-shadow: inset 6px -6px #888888;
}

.BuildControl button:hover:disabled {
  color: #888888;
  cursor: not-allowed;
  box-shadow: inset 6px -6px #888888;
  transform: scale(1);
  background-color: #ccc;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  margin: 0 50px 0 0px;
}

.BuildControl .Less {  
  background-color: #f05c5c;
  color: white;
  box-shadow: inset 6px -6px  #a33d3d;
}

.BuildControl .More {
  background-color: #35a5f0;
  color: white;
  box-shadow: inset 6px -6px  #0062a3;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
  background-color: #e94848;
  color: white;
  box-shadow: inset 3px -3px #a33d3d;
  transform: scale(0.95);
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: #2392db;
  color: white;
  box-shadow: inset 3px -3px #0062a3;
  transform: scale(0.95);
}