.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 10px;
  margin: 0 5px 0 20px;
  width: 100px;
  border: hidden;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #1c88cf;
  border: hidden;
  color: rgb(180, 180, 180);
  cursor: default;
}

.BuildControl button:hover:disabled {
  color: rgb(180, 180, 180);
  cursor: not-allowed;
  box-shadow: inset 6px -6px #0062a3;
  transform: scale(1);
  background-color: #1c88cf;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  margin: 0 50px 0 0px;
}

.BuildControl .Less {  
  background-color: #35a5f0;
  color: white;
  box-shadow: inset 6px -6px  #0062a3;
}

.BuildControl .More {
  background-color: #35a5f0;
  color: white;
  box-shadow: inset 6px -6px  #0062a3;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
  background-color: #2699e6;
  color: white;
  box-shadow: inset 3px -3px #0062a3;
  transform: scale(0.97);
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: #2699e6;
  color: white;
  box-shadow: inset 3px -3px #0062a3;
  transform: scale(0.97);
}