body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  font-family: 'Monofett', cursive, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-family: 'Shrikhand', cursive, 'Montserrat', sans-serif;
}