@media (min-width: 1024px) {
  .Taco {
    width: 500px;
    height: 611px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 16px;
    padding: 10px 0;
    border: 4px solid black;
    right: 12px;
    top: 0px;
    transform: scale(0.75);
  }

  .Tittle{
    background-color: white;
    position: absolute;
    top: -10px;
    padding: 0 10px 0 10px;
    font-size: 16px 
  }
}
@media (min-width: 1156px) {
  .Taco {
    width: 500px;
    height: 611px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 10px 0;
    border: 4px solid black;
    right: 12px;
    top: 0px;
  }

  .Tittle{
    background-color: white;
    position: absolute;
    top: -10px;
    padding: 0 10px 0 10px;
    font-size: 16px 
  }
}

@media (min-width: 1280px) {
  .Taco {
    width: 600px;
    height: 611px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 10px 0;
    border: 4px solid black;
    right: 12px;
    top: 0px;
  }

  .Tittle{
    background-color: white;
    position: absolute;
    top: -10px;
    padding: 0 10px 0 10px;
    font-size: 16px 
  }
}

@media (min-width: 1366px) {
  .Taco {
    width: 600px;
    height: 611px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 10px 0;
    border: 4px solid black;
    right: 24px;
    top: 16px;
  }

  .Tittle{
    background-color: white;
    position: absolute;
    top: -10px;
    padding: 0 10px 0 10px;
    font-size: 18px 
  }
}

@media (min-width: 1600px) {
  .Taco {
    width: 650px;
    height: 611px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 72px;
    padding: 10px 0;
    border: 4px solid black;
    right: 128px;
    top: 64px;
    transform: scale(1.025);
  }

  .Tittle{
    background-color: white;
    position: absolute;
    top: -14px;
    padding: 0 10px 0 10px;
    font-size: 20px 
  }
}

@media (min-width: 1920px) {
  .Taco {
    width: 750px;
    height: 611px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 96px;
    padding: 10px 0;
    border: 4px solid black;
    right: 128px;
    top: 64px;
    transform: scale(1.15);
  }

  .Tittle{
    background-color: white;
    position: absolute;
    top: -14px;
    padding: 0 10px 0 10px;
    font-size: 24px 
  }
}