/*.box {
  width: 500px;
  margin: auto;
  height: 450px;
  background-color: white;
  position: relative;
}this is the Taco class in Taco.module.css*/

.tortilla{
  width: 204px;
  height: 204px;
  background-image: url("tortilla.png");
  background-repeat: no-repeat;
  left: 44%;
  top: 10%;
  position: absolute;
}

.pastor{
  width: 196px;
  height: 124px;
  background-image: url("pastor.png");
  background-repeat: no-repeat;
  left: 44%;
  top: 27%;
  position: absolute;
}

.suadero{
  width: 200px;
  height: 126px;
  background-image: url("suadero.png");
  background-repeat: no-repeat;
  left: 44%;
  top: 28%;
  position: absolute;
}

.bistec{
  width: 228px;
  height: 122px;
  background-image: url("bistec.png");
  background-repeat: no-repeat;
  left: 43%;
  top: 28%;
  position: absolute;
}

.longaniza{
  width: 160px;
  height: 168px;
  background-image: url("longaniza.png");
  background-repeat: no-repeat;
  left: 45.5%;
  top: 17%;
  position: absolute;
}

.pollo{
  width: 213px;
  height: 212px;
  background-image: url("pollo.png");
  background-repeat: no-repeat;
  left: 44.5%;
  top: 17%;
  position: absolute;
}

.cilantro{
  width: 136px;
  height: 128px;
  background-image: url("cilantro.png");
  background-repeat: no-repeat;
  left: 46%;
  top: 28%;
  position: absolute;
}

.cebolla{
  width: 112px;
  height: 112px;
  background-image: url("cebolla.png");
  background-repeat: no-repeat;
  left: 46.5%;
  top: 30%;
  position: absolute;
}

.pina{
  width: 126px;
  height: 80px;
  background-image: url("pina.png");
  background-repeat: no-repeat;
  left: 46%;
  top: 39%;
  position: absolute;
}

.queso{
  width: 180px;
  height: 70px;
  background-image: url("queso.png");
  background-repeat: no-repeat;
  left: 44.5%;
  top: 40%;
  position: absolute;
}